# --- Ketergantungan Kode (Dependencies) ---
/vendor/
/node_modules/

# --- File Lingkungan & Konfigurasi Sensitif ---
.env
.env.backup
.env.production
.auth.json

# --- Log dan Cache ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.phpunit.result.cache

# Abaikan semua file di dalam folder writable
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*

# KECUALIKAN file .gitkeep agar folder tidak kosong dan terbaca oleh Git
!writable/cache/.gitkeep
!writable/debugbar/.gitkeep
!writable/logs/.gitkeep
!writable/session/.gitkeep
!writable/uploads/.gitkeep

# --- Penyimpanan Internal Laravel (Storage) ---
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# --- File Sampah Sistem Operasi & Aplikasi ---
.DS_Store
Thumbs.db
.idea/
.vscode/
Homestead.json
Homestead.yaml
.vessel/

# Instruksi dasar Agent
instructions.md